<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label "Meal Service" %><br />
    <%= f.check_box :meal %>
  </div>


<p>
  <p>
    <%= f.radio_button :equipment, '747' %><b>Boeing 777 (Jet, Nice)</b>
  </p>
  <p>
    <%= f.radio_button :equipment, 'MD80' %><b>MD-80 (Jet, Old)</b>
  </p>
  <p>
    <%= f.radio_button :equipment, 'Cessna' %><b>Cessna (Propeller)</b>
  </p>


  <% airports = Airport.find(:all, :order => :code) %>
<p>Depart from:
  <%= f.collection_select :origin_id, airports, :id, :code %>
</p>

<p>Arrive at:
  <%= f.collection_select :destination_id, airports, :id, :code %>
</p>


<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
